menu,
* {
    margin: 20px;
    padding: 20px;
    text-align: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



main {
    background-color: yellow;
}

table {
    width: 100%;
    border-top: 20px cap;
}

li {
    justify-content: center;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover{
    color: white;
}

inicio,
*,
body,
ul,

h1 {
    margin: auto;
    text-align: center;
    background-color: rgb(168, 201, 2);
    color: rgb(20, 22, 23);

 }

ul {
 color: whitesmoke;
}

p {
    text-align: justify;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}


Sobre,
body,
h1 {
    background-color: rgb(2, 2, 218);
}        

