body{
    text-align: center;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkolivegreen;
    color: aliceblue;
}
button{
    background-color: blue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    border-radius: 20px;
    border-width: 20px;
    border-color:white;
    display: block;
    margin: 20px;
}

input{
    background-color: aqua;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    width: 25%;
    padding: 15px;
    display: block;
    margin: 10px;
}